{# Mailchimp event registration form component #}
{# Expects: formTitle, eventTitle, mailchimpFormId, mailchimpTag #}

<div class="event-registration-section">
    <h2>{{ formTitle | default("Register for This Event") }}</h2>

    <div class="form-container">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_shell">
            <div id="mc_embed_signup">
                <form
                    action="https://thewanderinglantern.us3.list-manage.com/subscribe/post?u=f5535995545a29ebbdc6de523&amp;id={{ mailchimpFormId }}&amp;f_id=0089a2e0f0"
                    method="post"
                    id="mc-embedded-subscribe-form"
                    name="mc-embedded-subscribe-form"
                    class="validate"
                    target="_blank"
                >
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required value="">
                        </div>

                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name </label>
                            <input type="text" name="FNAME" class="text" id="mce-FNAME" value="">
                        </div>

                        <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name </label>
                            <input type="text" name="LNAME" class="text" id="mce-LNAME" value="">
                        </div>

                        {% if showChildFields %}
                        <div class="mc-field-group">
                            <label for="mce-MMERGE6">Number of Children Attending </label>
                            <input type="number" name="MMERGE6" class="number" id="mce-MMERGE6" value="" min="1">
                        </div>

                        <div class="mc-field-group">
                            <label for="mce-MMERGE7">Child/Children's Age(s) </label>
                            <input type="text" name="MMERGE7" class="text" id="mce-MMERGE7" value="" placeholder="e.g., 3, 5, 8">
                        </div>
                        {% endif %}

                        <!-- Hidden tag field for event tracking -->
                        <input type="hidden" name="tags" value="{{ mailchimpTag }}">

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>

                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            <input type="text" name="b_f5535995545a29ebbdc6de523_{{ mailchimpFormId }}" tabindex="-1" value="">
                        </div>

                        <div class="clear">
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Register Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Mailchimp Signup Form -->
    </div>
</div>
