<!-- Navigation -->
<nav id="nav">
    {% if page.url != "/" %}
    <a href="/">Home</a>
    {% endif %}

    {% if features.navigation.showEventsInMainNav %}
    <a href="/events/">Our Events</a>
    {% endif %}

    {% if features.navigation.showReservationsInMainNav %}
    <a href="/reservations/">Book Our Space</a>
    {% endif %}

    {% if features.navigation.showAboutInMainNav %}
    <a href="/about/">Our Story</a>
    {% endif %}

    {% if features.navigation.showNewsletterInMainNav %}
    <a href="/signup/">Join Our List</a>
    {% endif %}

    {% if features.navigation.showContactInMainNav %}
    <a href="/#contact">Contact Us</a>
    {% endif %}
</nav>
