---
pagination:
  data: storytimeRedirects
  size: 1
  alias: slug
storytimeRedirects:
  - saturday-storytime-2025-12-13
  - saturday-storytime-2025-12-20
  - saturday-storytime-2025-12-27
  - saturday-storytime-2026-01-03
  - saturday-storytime-2026-01-10
  - saturday-storytime-2026-01-17
  - saturday-storytime-2026-01-24
  - saturday-storytime-2026-01-31
  - saturday-storytime-2026-02-07
  - saturday-storytime-2026-02-14
  - saturday-storytime-2026-02-21
  - saturday-storytime-2026-02-28
  - saturday-storytime-2026-03-07
  - saturday-storytime-2026-03-14
  - saturday-storytime-2026-03-21
  - saturday-storytime-2026-03-28
  - saturday-storytime-2026-04-04
  - saturday-storytime-2026-04-11
  - saturday-storytime-2026-04-18
  - saturday-storytime-2026-04-25
permalink: /events/{{ slug }}/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/events/saturday-storytime/">
  <link rel="canonical" href="/events/saturday-storytime/">
  <title>Saturday Story Time - The Wandering Lantern</title>
</head>
<body>
  <p>This page has moved. <a href="/events/saturday-storytime/">Click here</a> if you are not redirected.</p>
</body>
</html>
